server:
  port: 8083

grpc:
  client:
    user-service:
      address: static://catalog-service:9082
      negotiation-type: plaintext
  server:
    port: 9083

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: catalog-service