server:
  port: ${PORT_CATALOG:8083}
  tomcat:
    threads:
      max: 200
      min-spare: 20

grpc:
  server:
    port: ${GRPC_PORT_CATALOG:9083}
  client:
    user-service:
      address: ${USER_SERVICE_GRPC_URL}
      negotiation-type: plaintext

spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: ${DB_URL_CATALOG}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: catalog-service
  threads:
    virtual:
      enabled: true
  task:
    execution:
      pool:
        core-size: 20
        max-size: 200
        queue-capacity: 500
        keep-alive: 60s