server:
  port: 8080

spring:
  application:
    name: gateway
    cloud:
      gateway:
        server:
          webflux:
            routes:
            - id: auth-service
              uri: http://auth-service:8081
              predicates:
                - Path=/api/v1/auth/**

            - id: user-service
              uri: http://user-service:8082
              predicates:
                - Path=/api/v1/user/**

            - id: catalog-service
              uri: http://catalog-service:8083
              predicates:
                - Path=/api/v1/catalog/**

            - id: ai-service
              uri: http://ai-service:8084
              predicates:
                - Path=/api/v1/ai/**
jwt:
  secret: ${JWT_SECRET}