server:
  port: 8082

grpc:
  client:
    catalog-service:
      address: static://catalog-service:9083
      negotiation-type: plaintext
    auth-service:
      address: static://auth-service:9081
      negotiation-type: plaintext
  server:
    port: 9082

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: user-service